@{
  Layout = "_Layout";
}

@model Restaurant.Models.Restaurants



<form method="post">
    
    <label for="review">Search a Restaurants to review:</label>
    <input id="review" name="review" type="text">
    <button name="searchType" value="review" type='submit'>Search</button>

</form>





